<nav class="navbar navbar-default navbar-danger">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <img src="./images/icon.png" width="20px" heigth="20px" alt="Ang-App">
                </div>
                <div class="navbar-brand">
                        Ang-App
                </div> 
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#!first">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!second">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!third">Sell</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!fourth">Buy</a>
                    </li>
                </ul>
            </div>
        </div>      
    </nav>